body, td, div 
{scrollbar-face-color: #CCAD79;
scrollbar-highlight-color: #F3DCB5;
scrollbar-shadow-color: #000000;
scrollbar-3dlight-color: #F3DCB5;
scrollbar-arrow-color: #F3DCB5;
scrollbar-track-color: #CCAD79;
scrollbar-darkshadow-color: #CCAD79;

font-size: 13px;
font-face: verdana;
text-align: justify;
color: #8D744B}

a:link { color: #5E4419; text-decoration: none; font-weight: bold}
a:visited {color: #5E4419; text-decoration: none; font-weight: bold}
a:active {color: #5E4419; text-decoration: none; font-weight: bold}
a:hover {color: #9B7B45; text-decoration: none; font-weight: bold}

.main {padding: 10px}


.head {font-weight: bold; font-size: 14px; padding-bottom: 2px; text-tranform: uppercase; color: #A07C3E; border-bottom: double; letter-spacing: 2px; text-align: left}

.n  { padding: 10px; text-align: center; vertical-align: top}

.navhead {font-weight: bold; font-size: 14px; padding-bottom: 2px; color: #A07C3E; letter-spacing: 2px; text-align: center }
