body
{
	font-size: 12pt;
	color: #000000;
	font-family: 'Microsoft Sans Serif';
}
:link
{
	font-weight: normal;
	font-size: 9pt;
	color: #000099;
	font-family: 'Arial';
	text-align: left;
	text-decoration: none;
}
:visited
{
	font-weight: normal;
	font-size: 9pt;
	color: navy;
	font-family: Arial;
	text-align: left;
	text-decoration: none;
}
:active
{
	font-weight: normal;
	font-size: 9pt;
	color: #000099;
	font-family: Arial;
	text-align: left;
	text-decoration: none;
}

/*
:hover
{
	font-weight: normal;
	font-size: 19pt;
	color: #000099;
	font-style: normal;
	font-family: Arial;
	text-align: left;
	text-decoration: none;
}
*/


.DivTxtbox
{
	font-size: 10pt;
	font-family: 'Arial Narrow';
	padding-left: 2px;
	padding-bottom: 1px;
	padding-top: 1px;
}

.form1
{
	border-right: white thin groove;
	border-top: white thin groove;
	font-size: 8pt;
	border-left: white thin groove;
	color: black;
	border-bottom: white thin groove;
	font-family: Verdana;
	background-color: activeborder;
	}



.form1r
{
	border-right: white thin groove;
	border-top: white thin groove;
	font-size: 8pt;
	border-left: white thin groove;
	color: black;
	border-bottom: white thin groove;
	font-family: Verdana;
	background-color: activeborder;
	text-align: right;
}
