body
{

	font-size: 9pt;
	color: #000000;
	font-family: 'Trebuchet MS';
}
:link
{
	font-weight: normal;
	font-size: 8pt;
	color: #000099;
	font-family: Arial;
	text-align: left;
	text-decoration: none;
}
:visited
{
	font-weight: normal;
	font-size: 8pt;
	color: navy;
	font-family: Arial;
	text-align: left;
	text-decoration: none;
}
:active
{
	font-weight: normal;
	font-size: 8pt;
	color: #000099;
	font-family: Arial;
	text-align: left;
	text-decoration: none;
}

:hover
{
	font-weight: normal;
	font-size: 8pt;
	color: #000099;
	font-style: normal;
	font-family: Arial;
	text-align: left;
	text-decoration: none;
}

.Fab
{
    padding-right: 30px;
    padding-left: 30px;
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=0, ShadowOpacity=.30), progid:DXImageTransform.Microsoft.Alpha(Opacity=100) progid:DXImageTransform.Microsoft.Inset(duration=0.50) progid:DXImageTransform.Microsoft.alpha(opacity=70) progid:DXImageTransform.Microsoft.Fade(duration= '.5' ,overlap= '1' , center= '0' );
    left: -4px;
    padding-bottom: 30px;
    width: 100%;
    padding-top: 30px;
    border-bottom: dimgray 5px solid;
    position: absolute;
    top: -4px;
    height: 100%;
}
    
.time {behavior: url(#default#time2);}

.fadebutton {
    position: absolute; 
    top:-4; left:-4; 
    padding:30px; 
    width:100%; height:100%; filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=3, ShadowOpacity=.30), progid:DXImageTransform.Microsoft.Alpha(Opacity=100)   }

.fadebutton2 {
    position: absolute; 
    top:-4; left:-4; 
    padding:10px; 
    width:55; height:5; filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=3, ShadowOpacity=.30), progid:DXImageTransform.Microsoft.Alpha(Opacity=100)   }

 
.cube1
{
	padding-left: 10px;
	font-size: 8pt;
	background-image: url(images\IIface.jpg);
	padding-bottom: 2px;
	
	color: #000099;
	padding-top: 0px;
	font-family: Arial;
}


.cube1y
{
	padding-left: 10px;
	font-size: 8pt;
	background-image: url(images\cube1y.gif);
	padding-bottom: 0px;
	vertical-align: super;
	color: #000099;
	padding-top: 4px;
	font-family: Arial;
}

.cube1w
{
	padding-left: 10px;
	font-size: 8pt;
	background-image: url(images\cube1w.gif);
	padding-bottom: 0px;
	vertical-align: super;
	color: #000099;
	padding-top: 0px;
	font-family: Arial;
}


.cube2
{
	padding-left: 10px;
	font-size: 8pt;
	background-image: url(images\Iface1.jpg);
	padding-bottom: 0px;
	vertical-align: super;
		color: #000099;
	padding-top: 0px;
	font-family: Arial;
}



.txt
{
	font-size: 9pt;
	color: #000000;
	font-family: 'Trebuchet MS';
}
